---
import Front from "../layouts/Front.astro";
---

<Front title="Home">
  <header>
    <div>
      <h1 aria-label="CSS exercises">Exer<span>CSS</span>ises</h1>
      <p>By Dannie Vinther</p>
    </div>
    <nav class="bento">
      <ul>
        <li style="--theme: hsl(153.07deg 70% 65%)">
          <a href="/grid"><span>Grid</span> exercises</a>
        </li>
        <li style="--theme: oklch(75% .1 292.66)">
          <a href="/subgrid"><span>Subgrid</span> exercises</a>
        </li>
        <li style="--theme: oklch(0.71 0.1 320.74)">
          <a href="/flex"><span>Flexbox</span> exercises</a>
        </li>
        <li style="--theme: hsl(153.07deg 70% 65%)">
          <a href="/defensive"><span>Defensive</span> exercises</a>
        </li>
      </ul>
    </nav>
  </header>
</Front>

<style>
  @font-face {
    font-family: flex;
    src: url("/assets/fonts/flexible-variable.woff2") format("woff2");
    font-stretch: 200% 1000%;
    font-weight: 700;
  }

  header {
    display: grid;
    gap: 3rlh;
    place-content: center;
    place-items: center;
    overflow-x: clip;
    font-size: clamp(1rem, 0.6591rem + 1.4545vw, 1.75rem);

    &::after {
      content: "";
    }

    p {
      margin-block-start: 0.25rlh;
      color: oklch(0.65 0.02 250.79);
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.1em;
      font-size: min(0.5em, 0.8rem);
    }
  }

  h1 {
    font-family: flex;
    font-variation-settings:
      "wdth" 200,
      "HGHT" 500;
    font-size: 8rem;
    font-size: max(5em, 5rem);
    letter-spacing: 0.03em;
    line-height: 1.3;
    font-weight: 700;
    color: #fff;
    margin-block-start: -0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    filter: var(--filter);
    contain: paint;
    will-change: transform;

    &.toggled {
      --wdth: 200;
      --h: 500;
      --w: 1.3ch;
      --c: #fff;
      --s: #fff0;
      --t: 0.2s cubic-bezier(0.22, 0.03, 0.26, 1);
      --transform: none;
      --bg: #fff0;
    }

    span {
      font-variation-settings:
        "wdth" var(--wdth, 800),
        "HGHT" var(--h, 500);
      color: var(--c, #fff0);
      background: var(
        --bg,
        repeating-radial-gradient(
            circle at 8% 75%,
            oklch(83.9% 0.192 194.87 / 0.3) 0 0.01em,
            #0000 0 0.018em
          )
          text
      );
      -webkit-text-stroke: 0.01em var(--s, oklch(83.9% 0.192 194.87));
      overflow: clip;
      max-width: var(--w, 2.1em);
      display: inline-block;
      transition: var(--t, var(--elastic));
      transition-property: max-width, font-variation-settings, transform,
        background;
      vertical-align: bottom;
      contain: paint;
      will-change: transform;
      transform: var(--transform, skewY(-5deg));
    }
  }

  .bento {
    position: relative;
    margin-inline: max(1rlh, 50% - 74rem / 2);
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: clamp(0.5rem, 0.2561rem + 1.0405vw, 1.0625rem);
    padding: 0.7rlh;
    box-shadow:
      inset 0 0 10px #0006,
      0 0 20px oklch(0.25 0.04 253.46 / 50%);

    &::before {
      border-inline-width: 1px;
      margin-block: -2rlh;
      mask: linear-gradient(#0000, #000 2rlh calc(100% - 2rlh), #0000);
    }

    &::after {
      border-block-width: 1px;
      margin-inline: -2rlh;
      mask: linear-gradient(90deg, #0000, #000 2rlh calc(100% - 2rlh), #0000);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      border: 1px dashed oklch(0.32 0.06 250.53);
    }

    ul {
      display: contents;
      list-style: none;
      padding: 0;
    }

    a {
      isolation: isolate;
      position: relative;
      background: oklch(0.25 0.05 250.79);
      box-shadow:
        #ffffff17 0 0.5px inset,
        #ffffff09 0 0 0 0.5px inset;
      border-radius: 0.5rem;
      display: inline flow-root;
      padding: 0.7em 1em;
      color: oklch(0.65 0.02 250.79);
      text-decoration: 3px var(--underline, #fff1) underline;
      text-underline-offset: 0.2em;
      font-size: min(0.8em, 1rem);
      outline-color: var(--theme);

      &::before {
        position: absolute;
        content: "";
        inset: 0;
        background: radial-gradient(
          circle farthest-side at 50% 0%,
          oklch(0.3 0.06 247.26),
          #0000 75%
        );
        z-index: -1;
        opacity: var(--opacity, 0);
        transition: 0.2s;
      }

      &:is(:hover, :focus-visible) {
        color: var(--theme);
        --opacity: 1;
        --underline: var(--theme);
      }

      span {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  header {
    --filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">\
    <filter id="f" x="-50%" y="-200%" width="200%" height="500%">\
    <feGaussianBlur stdDeviation="5"></feGaussianBlur>\
    <feColorMatrix type="saturate" values="1"></feColorMatrix>\
    <feComponentTransfer>\
    <feFuncA type="linear" slope=".75"/>\
    </feComponentTransfer>\
    <feComposite in="SourceGraphic"></feComposite>\
    </filter>\
    </svg>#f');
    --elastic: 0.9s
      linear(
        0,
        0.218 2.1%,
        0.862 6.5%,
        1.114,
        1.296 10.7%,
        1.346,
        1.37 12.9%,
        1.373,
        1.364 14.5%,
        1.315 16.2%,
        1.032 21.8%,
        0.941 24%,
        0.891 25.9%,
        0.877,
        0.869 27.8%,
        0.87,
        0.882 30.7%,
        0.907 32.4%,
        0.981 36.4%,
        1.012 38.3%,
        1.036,
        1.046 42.7% 44.1%,
        1.042 45.7%,
        0.996 53.3%,
        0.988,
        0.984 57.5%,
        0.985 60.7%,
        1.001 68.1%,
        1.006 72.2%,
        0.998 86.7%,
        1
      );
  }
</style>

<script>
  const h1 = document.querySelector("h1");

  h1.addEventListener("click", (_) => {
    h1.classList.toggle("toggled");
  });

  const hiddenLink = document.querySelector(
    ".bento li:last-child"
  ) as HTMLLIElement;
  hiddenLink.style.display = "none";

  // get search params, if equal to ?sem=3 then show the last link
  const urlParams = new URLSearchParams(window.location.search);
  const sem = urlParams.get("sem");

  if (sem === "3") {
    hiddenLink.style.display = "block";
  }
</script>
