@view-transition {
  navigation: auto;
}

::view-transition {
  pointer-events: none;
}

::view-transition-group(root) {
  animation-duration: 0.2s;
}

::view-transition-old(--current-link),
::view-transition-new(--current-link),
::view-transition-old(nav-background),
::view-transition-new(nav-background) {
  block-size: 100%;
  inline-size: 100%;
}

::view-transition-group(.current-link-text) {
  z-index: 2;
}

::view-transition-old(.current-link-text),
::view-transition-new(.current-link-text) {
  height: 100%;
  object-fit: none;
  object-position: left;
  overflow: clip;
}

nav {
  view-transition-group: contain;
}

/* @font-face {
  font-family: "Geist Mono";
  src: url("/assets/fonts/GeistMonoVF.woff2") format("woff2 supports variations"),
    url("/assets/fonts/GeistMonoVF.woff2") format("woff2-variations");
  font-weight: 32 240;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/fonts/GeistVF.woff2") format("woff2 supports variations"),
    url("/assets/fonts/GeistVF.woff2") format("woff2-variations");
  font-weight: 32 240;
  font-display: swap;
} */

/* @font-face {
  font-family: "Shn";
  src: url("/assets/fonts/sohne.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  letter-spacing: .2px;
  font-display: fallback;
} */

* {
  --max-screen-size: var(--screen-max, 1200);
  --min-screen-size: var(--screen-min, 375);
  --responsive: (
    (var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) *
      (
        (100vw - (var(--min-screen-size) * 1px)) /
          (var(--max-screen-size) - var(--min-screen-size))
      )
  );
  /* --responsive1: ((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 375px) / (895 - 375))); */
  /*--responsive2: (var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) *
    ((100vw - 896px) / (1200 - 896));*/
}

*,
::before,
::after {
  corner-shape: squircle;
  corner-shape: superellipse(1.25);
}

html {
  /* block-size: 100%; */
  scroll-padding-block-start: var(--space-7);
  touch-action: pan-y;
  overscroll-behavior: none;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  display: flow-root;
  overscroll-behavior: none;
  color: var(--text-muted);
  line-height: 1.75;
  /* min-height: 100%; */
  /* padding-block: 6rem; */
}

/* .place-items {
  place-items: center;
} */

h3 {
  font-family: "Wotfard", Segoe UI, system-ui, -apple-system, sans-serif;
  font-weight: 500;
  --min-font: 22;
  --max-font: 38;
  --screen-max: 1200;
  --screen-min: 375;
  font-size: clamp(
    var(--min-font) * 1px,
    var(--responsive),
    var(--max-font) * 1px
  );
  line-height: 1.125;
}

p {
  font-family: var(--font-mona);
  font-weight: 430;
  font-feature-settings: "ss01" on;
  /* font-family: "Geist";
  font-weight: 84; */
  font-size: 18px;
  --min-font: 16;
  --max-font: 17;
  --screen-max: 1200;
  --screen-min: 375;
  font-size: clamp(
    var(--min-font) * 1px,
    var(--responsive),
    var(--max-font) * 1px
  );
  /* color: #425466; */
}

p:has(small) {
  line-height: 1.25;
}

[contenteditable] {
  outline: none;
}

/*.main-header,*/
footer {
  display: grid;
  grid: auto / minmax(var(--space-5), 1fr) minmax(auto, 1200px) minmax(
      var(--space-5),
      1fr
    );
  gap: var(--space-7) 0;
  text-align: center;

  padding-block-start: var(--space-7);
  padding-block-end: var(--space-7);
  background: var(--blue-900);
  margin-block-start: var(--space-7);
}

footer > * {
  grid-column: 2 / -2;
  color: var(--purple-50);
  font-weight: 700;
}

main {
  display: grid;
  grid: auto / minmax(var(--space-5), 1fr) minmax(auto, 1200px) minmax(
      var(--space-5),
      1fr
    );
  gap: var(--space-9) 0;
  /* counter-reset: task; */
}

.in-view:is(:not(.in-view + *)) {
  --pseudo-opacity: 0.4;

  --filter: grayscale(0);

  --before-opacity: 0.8;
  /* --animation-name: move; */
}

/* @keyframes move {
  to {
    scale: 1.04 1.02;
  }
} */

path {
  stroke-width: inherit;
}

section {
  grid-column: 2 / -2;

  display: grid;
  grid: auto / repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  /* grid-auto-flow: dense; */
  /*place-content: start;*/
  gap: var(--space-5) var(--space-6);

  position: relative;
  padding: var(--space-6);

  background: var(--ui-surface);
  border-radius: var(--bdrs-xl);
  /* transition: filter 0.2s; */

  margin-inline-start: var(--space-6);

  margin-block-end: var(--space-6);

  /* box-shadow: rgb(255 255 255) 0px 0px 0px 0px,
    rgb(51 65 85 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 5%) 0px 20px 25px -5px,
    rgb(0 0 0 / 5%) 0px 8px 10px -6px;
  background: linear-gradient(hsl(210deg 73% 100%) 0%, #f3f4f6 100%) 0% 100% / 100% 2rem no-repeat padding-box,
    #fff;
  border: 1px solid transparent; */

  box-shadow: var(--shadow-border);
  background: var(--ui-surface);
  view-timeline: --t;
  animation: --a both linear;
  animation-timeline: --t;

  &::before {
    content: "";
    position: absolute;
    inset: 4%;
    background: rgba(100, 41, 219, 0.5);
    border-radius: inherit;
    z-index: -1;
    filter: blur(40px);
    opacity: var(--light, 0);
    transition: opacity 0.3s;
    /* opacity: var(--before-opacity, 0);
    animation: var(--animation-name) 10s infinite alternate ease-in-out;
    will-change: transform; */
  }
}

@keyframes --a {
  entry 0%,
  exit 100% {
    --light: 0;
  }

  contain 50% {
    --light: 1;
  }
}

section:has(:target) {
  min-height: 95vh;
  grid-template-rows: min-content min-content 1fr;

  min-height: calc(100vh - 2 * var(--space-6));

  @media (max-width: 895px) {
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

/* section header, */
section :is(.small-label, .exercise-details) {
  grid-column: 1 / -1;
}

section .exercise-details {
  display: inherit;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  gap: var(--space-3) var(--space-6);
}

.exercise-content > p + * {
  margin-block-start: var(--space-5);
}

button {
  --btn-icon: var(--blue-muted);
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  gap: var(--space-1);
  border-radius: var(--bdrs-l);
  border: 0;
  background: var(--btn-bg);
  color: var(--blue-900);
  font-weight: 600;
  font-size: var(--font-size-md);
  padding: 0.25em 0.75em 0.25em 0.6em;
  cursor: pointer;
  box-shadow: var(--btn-theme, var(--ui-accent)) 0 0 0 var(--btn-stroke, 1px)
    inset;
  transition: 0.2s box-shadow;
  will-change: box-shadow;

  font-variation-settings: "wdth" 120;
  font-family: var(--font-mona), system-ui;
  letter-spacing: 0.01em;
}

button.reset:focus-visible::before {
  opacity: 1;
}

button:where(:not([disabled]):active) {
  --btn-stroke: 2px;
  background: var(--blue-muted-comment);
}

button[disabled] {
  filter: grayscale(1);
  opacity: var(--opacity, 0.6);
  cursor: default;
  background: transparent;
}

.exercise-details p > code {
  --m: var(--ui-surface);
  display: inline-block;
  padding-inline: var(--space-2);
  padding-block: 0;
  font-size: 0.9em;
  color: var(--m, var(--ui-primary));
  border-radius: var(--bdrs-md);

  /* color: var(--blue-800) !important; */
  /* background: #e9eef4; */
  color: var(--text-primary);
  background: var(--ui-surface);
  box-shadow: var(--shadow-code);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: var(--blue-700);
    text-shadow: 0 0 3px hsl(from var(--ui-accent) h s l / 33%);
  }
}

.resize {
  /* font-weight: 800;
  font-size: 0.9em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  display: inline-grid;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  place-content: center;
  border-radius: var(--bdrs-round);
  border: 2px solid var(--ui-accent);
  color: var(--ui-accent);
  background: var(--ui-surface); */
  display: inline flow-root;
  inline-size: 1rem;
  block-size: 1rem;
  vertical-align: middle;
  background: var(--resize-icon) 0 0 / contain no-repeat;
}

div.prism-live {
  border-radius: 0 0 var(--bdrs-sm) var(--bdrs-sm);
  overflow: hidden;
}

textarea.prism-live,
pre.prism-live,
code {
  font-family: var(--font-mono), Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace !important;
  font-weight: 500;
  /* font-family: "Geist Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace !important;
  font-weight: 126;
  font-feature-settings: "ss03" on; */
}
