@import "./tokens.css" layer(tokens);
@import "./reset.css" layer(reset);
@import "./prism.css" layer(prism);
@import "./custom.css" layer(custom);

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
label,
button,
summary {
  font-feature-settings: "ss01";
}

path,
g,
symbol {
  stroke-width: inherit !important;
}

/* .main-header {
    anchor-name: --header;
  position: relative;
  display: grid;
  grid: auto / minmax(var(--space-5), 1fr) minmax(auto, 1200px) minmax(var(--space-5), 1fr);
  gap: var(--space-5) 0;
  margin-block: 1rlh;
  margin-block-end: 3rlh;
  border-bottom: 1px solid #0002;
  padding-bottom: 1rlh;
} */

/* .header-content {
    anchor-scope: --header-content;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    border-left: 1px solid #0002;
    position-anchor: --header-content;
    left: calc(anchor(left) - 1px - 1rem);
  }
  &::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    border-right: 1px solid #0002;
    position-anchor: --header-content;
    left: calc(anchor(right) + 1rem + 1px);
  }
} */

/* .sda-result {
  anchor-scope: --sda-container;
  anchor-name: --sda-container;

  .container {
    &::after {
      transition: 0.3s 0.1s allow-discrete;
      content: "Scroll ↓";
      position-anchor: --sda-container;
      position-area: center;
      position: fixed;
      font-weight: 900;
      display: none;
      opacity: 0;
      color: var(--ui-primary-dark);
      @container not scroll-state(scrollable: top) {
        display: block;
        opacity: 1;
        @starting-style {
          opacity: 1;
        }
      }
      @container not scroll-state(scrollable: bottom) {
        display: block;
        opacity: 1;
        content: "Scroll ↑";
      }
    }
  }
} */
