@import "./reset.css" layer(reset);
@import "./prism.css" layer(prism);
@import "./custom.css" layer(custom);

path,
g,
symbol {
  stroke-width: inherit !important;
}

@supports (--w: calc(100cqi / 1px)) {
  [data-exercise-key="grid-07"] .output {
    container-type: inline-size;
    .container {
      --w: calc((100cqi - (0.25rem * 2)) / 1px);
      counter-set: --width var(--w);
      &::after {
        position: fixed;
        position-anchor: --output;
        position-area: top;
        inset-block-end: -1cap;
        content: counter(--width) "px";
        font-size: 0.7rem;
        font-weight: 600;
        background: #fff;
        padding-inline: 0.5ch;
      }
    }
  }
}

/* .sda-result {
  anchor-scope: --sda-container;
  anchor-name: --sda-container;

  .container {
    &::after {
      transition: 0.3s 0.1s allow-discrete;
      content: "Scroll ↓";
      position-anchor: --sda-container;
      position-area: center;
      position: fixed;
      font-weight: 900;
      display: none;
      opacity: 0;
      color: var(--ui-primary-dark);
      @container not scroll-state(scrollable: top) {
        display: block;
        opacity: 1;
        @starting-style {
          opacity: 1;
        }
      }
      @container not scroll-state(scrollable: bottom) {
        display: block;
        opacity: 1;
        content: "Scroll ↑";
      }
    }
  }
} */
