---
const { label = "", linkTo = "/" } = Astro.props;
const year = new Date().getFullYear();

const notHome = Astro.url.pathname !== "/";
---

<!-- {
  notHome && (
    <div>
      <button class="load-more">Indlæs flere</button>
    </div>
  )
} -->
<footer>
  {
    notHome && (
      <a href={linkTo} class="more-exercises">
        <span>Lær også om</span> {label}
        {/* <Icon name="chevron-right" width={16} height={16} stroke-width={2} /> */}
      </a>
    )
  }

  <small><span>© {year}&nbsp;CSS Exercises</span></small>
</footer>

<style>
  footer {
    anchor-name: --footer;
  }

  button {
    all: unset;
    cursor: pointer;
  }

  .more-exercises {
    /* display: flex;
    gap: var(--space-1);
    align-items: center; */
    color: var(--ui-surface);
    text-decoration: none;
    /* padding: var(--space-3) var(--space-3) var(--space-3) var(--space-5); */
    font-size: 1.2rem;
    font-weight: 400;
    padding: var(--space-4) var(--space-6);
    border: 2px solid var(--blue-muted);
    inline-size: fit-content;
    place-self: center;
    border-radius: var(--bdrs-l);
    background: var(--blue-800);
    line-height: 1.4;
    box-shadow:
      0 5px 2.5px hsl(200 95% 3% / 0.037),
      0 12px 6.5px hsl(200 95% 3% / 0.053),
      0 22.5px 13px hsl(200 95% 3% / 0.065),
      0 40.2px 24px hsl(200 95% 3% / 0.077),
      0 75.2px 44px hsl(200 95% 3% / 0.093),
      0 180px 80px hsl(200 95% 3% / 0.13);

    & span {
      font-size: 0.7em;
      font-weight: 500;
      color: var(--blue-muted-comment);
      display: block;
    }

    & :global(svg) {
      color: var(--blue-muted-comment);
      display: inline-block;
      vertical-align: middle;
      transition: inherit;
    }

    &:hover {
      border-color: var(--blue-muted-comment);
      color: var(--blue-500);

      & :global(svg) {
        color: var(--blue-500);
      }
    }
  }

  [data-icon="chevron-right"] {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 2;
  }

  div {
    text-align: center;
    margin: var(--space-7) var(--space-5) 0;
  }
  .load-more {
    color: var(--blue-900);
    border-radius: var(--bdrs-l);
    padding: var(--space-3);
    inline-size: max-content;
    text-transform: uppercase;
    font-variation-settings: "wdth" 120;
    font-family: var(--font-mona);
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    text-shadow: 0 0 10px hsl(209deg 15% 93%);
    letter-spacing: 0.05em;
    text-decoration: underline 0.25em var(--blue-500);
    text-underline-offset: 0.125em;
    transition: 0.2s;

    &:active {
      text-decoration-color: var(--blue-muted-comment);
    }

    &:is(:hover, focus-visible) {
      text-underline-offset: 0.5rem;
    }
  }

  :global([data-extra="true"]) .load-more {
    display: none;
  }
</style>

<script>
  // Load more exercises functionality
  const loadMoreBtn = document.querySelector(".load-more");

  // Show all exercises if none are marked as extra
  if (!document.querySelector("section[data-extra='true']")) {
    document.documentElement.dataset.extra = "true";
  }

  loadMoreBtn?.addEventListener("click", () => {
    document.documentElement.dataset.extra = "true";
    document
      .querySelectorAll("section[data-extra='true']")[0]
      ?.scrollIntoView({ behavior: "smooth" });
  });
</script>
