---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<a href="/" class:list={["logo", className]}>
  <span>CSS<span>xs</span></span><span class="dev">.dev</span>
</a>

<style>
  .logo {
    --smooth: 0.2s cubic-bezier(0.4, 0, 0.2, 1) font-variation-settings;
    font-family: var(--font-flex);
    font-size: 1.7rem;
    letter-spacing: 0.03em;
    line-height: 1;
    font-weight: 700;
    width: fit-content;
    margin-block-start: -0.3em;

    > :first-child {
      font-variation-settings:
        "wdth" 400,
        "HGHT" 500;
      color: oklch(from var(--ui-primary) 0.3 0.1 h);
      display: inline flex;
      align-items: baseline;
      cursor: pointer;
      transform: skewY(-5deg);
      transition: var(--smooth);

      .logo:hover & {
        font-variation-settings:
          "wdth" 400,
          "HGHT" 450;
      }

      span {
        color: var(--ui-primary-border);
        color: oklch(from var(--ui-primary) 0.7 0.2 h);
      }
    }

    .dev {
      display: inline-block;
      font-size: 0.65em;
      font-variation-settings:
        "wdth" 350,
        "HGHT" 500;
      color: oklch(from var(--ui-primary) 0.7 0.03 h);
      clip-path: inset(0 100% 0 0);
      transition: 0.3s clip-path;

      .logo:hover & {
        clip-path: inset(0);
      }
    }
  }
</style>
