---
import MinusIcon from "../../icons/minus.svg";
import PlusIcon from "../../icons/plus.svg";
const { icon } = Astro.props;
---

<button type="button" class={icon}>
  {
    icon === "minus" ? (
      <MinusIcon stroke-width={2} width={28} height={28} />
    ) : (
      <PlusIcon stroke-width={2} width={28} height={28} />
    )
  }
</button>

<style>
  @layer components {
    button:not([disabled]) {
      /* background:
        linear-gradient(#fff 0%, #e9eef4 100%) padding-box,
        #fff;
      box-shadow:
        rgb(255 255 255) 0px 0px 0px 0px,
        rgb(51 65 85 / 10%) 0px 0px 0px 1px,
        rgb(0 0 0 / 5%) 0px 20px 25px -5px,
        rgb(0 0 0 / 5%) 0px 8px 10px -6px; */
      /* background: transparent; */
      background: var(--gray-100);
      border-radius: var(--bdrs-round);
      transition: 0s;
      overflow: clip;
      padding: 0;

      &:hover {
        background: var(--gray-200);
      }
    }
    button:not([disabled]):active {
      background: var(--gray-300);
      /* background:
        linear-gradient(#fff 0%, #fff 100%) padding-box,
        #fff;
      box-shadow:
        rgb(255 255 255) 0px 0px 0px 0px,
        rgb(51 65 85 / 10%) 0px 0px 0px 1px,
        rgb(0 0 0 / 5%) 0px 0px 0px 0px,
        rgb(0 0 0 / 5%) 0px 0px 0px 0px; */
    }
    button :global(svg) {
    }

    [disabled]:is(.plus, .minus) {
      /* --ui-accent: var(--blue-muted-comment); */
      opacity: 0.3;
      cursor: not-allowed;
    }

    :is(.plus, .minus) {
      box-shadow: none;
      /* padding: 0.25rem 0.5rem; */
      padding: 0;
    }

    /* svg {
      color: var(--btn-icon, var(--ui-secondary));
      width: 1.1rem;
      height: 1.1rem;
      scale: 1.1;
      opacity: 0.5;
    } */
  }
</style>
