---
const { hints } = Astro.props;
---

<ul class="hints">
  {
    hints.map((hint) => {
      return (
        <li data-type={hint.type}>
          <code>{hint.name}</code>
        </li>
      );
    })
  }
</ul>

<style>
  .hints {
    display: flex;
    flex-wrap: wrap;

    padding: var(--space-1) var(--space-4);
    margin-block-start: var(--space-2);
    border-radius: var(--bdrs-md);

    overflow: hidden;
    padding: 2.5px;

    padding: calc(var(--space-3) + 3px) calc(var(--space-3) + 5px);
    /* background: #e9eef4; */
    border-radius: var(--bdrs-l);
    /* margin-block-start: calc(var(--space-4) * -1); */
    margin-block-start: -0.4rem;

    background: var(--ui-surface);

    & ~ .hints {
      margin-block-start: -0.85rem;
    }
  }

  [data-type="property"] {
    --type-color: #fff;
  }

  [data-type="value"] {
    --type-color: #ffd493;
  }

  li[data-type] {
    display: flex;
    white-space: break-spaces;
    align-items: center;

    background: linear-gradient(90deg, var(--blue-700), transparent),
      var(--blue-800);
    padding: var(--space-3) var(--space-4);
    border-radius: var(--bdrs-md);
    margin: -3px -5px;
  }

  li[data-type] + li[data-type] {
    padding-inline-end: calc(var(--space-4) + 3px);
  }

  code {
    display: inline-block;
    padding-inline: var(--space-2);
    padding-block: 0;
    font-size: 0.9em;
    color: var(--type-color);
    border-radius: var(--bdrs-md);
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: var(--blue-500);
      text-shadow: 0 0 6px hsl(from var(--blue-500) h s l / 50%);
    }
  }
</style>

<script>
  const copyCode = document.querySelectorAll(
    ".hints [data-type] code, .exercise-content p code"
  );

  const insertTextAtCaret = (element, text) => {
    const { selectionStart, selectionEnd } = element;

    element.setRangeText(text, selectionStart, selectionEnd, "end");
  };

  copyCode.forEach((item) =>
    item.addEventListener("click", ({ target }) => {
      const editor = target
        .closest("section")
        .querySelector(".editor textarea");
      let caretPosition;
      if (target.tagName === "CODE") {
        const code = target.innerText;
        const textToCopy =
          target.parentElement.dataset.type === "property"
            ? `${code}: ;`
            : code;
        insertTextAtCaret(editor, textToCopy);
        // caretPosition = editor.value.lastIndexOf(";");
        caretPosition =
          target.parentElement.dataset.type === "property"
            ? editor.selectionEnd - 1
            : editor.selectionEnd;
      }

      editor.dispatchEvent(new Event("input"));
      editor.focus();
      editor.setSelectionRange(caretPosition, caretPosition);
    })
  );
</script>
