---
const { boxContent = "I'm a box", startingHTML, scrollDirection } = Astro.props;
---

<div class="sda-result output">
  <div
    class="scrollport"
    data-scroll-direction={scrollDirection}
    set:html={startingHTML}
  />
</div>

<style>
  .sda-result {
    --padding: var(--space-2);
    /* container: sda-result / size var(--scroll-state-not-supported, scroll-state); */
    background: var(
      --marching-ants,
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E@keyframes ant %7Bto %7Bstroke-dashoffset: -8;%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: %23a9bcce; stroke-width: 3.75px; fill: none;stroke-dasharray: 5 3; animation: ant 0s infinite linear'/%3E%3C/svg%3E")
        border-box
    );
    border-radius: var(--bdrs-sm);
    /* min-height: 300px; */
    overflow: clip;
    display: grid;
    position: relative;
    padding: 0.5lh;
    border: 2px dashed transparent;
    max-block-size: 500px;
    padding: var(--padding);
    margin: calc(var(--padding) * -1);
    align-self: start;

    position: sticky;
    top: 1rem;

    @supports not (container: sda-result / size scroll-state) {
      --scroll-state-not-supported: ;
    }

    .scrollport {
      /* padding: 0.5cap; */
      scrollbar-color: var(--ui-primary-border)
        oklch(from var(--ui-primary) 0.95 0.025 h);
      container: container / size;
      overscroll-behavior: contain;
      min-height: calc(round(to-zero, 300px, 1.5rlh) + 0px);
      /* overflow-y: auto; */
      overflow: clip;
      background:
        conic-gradient(
            from 90deg at 1px 1px,
            #0000 25%,
            oklch(from var(--ui-primary) 0.95 0.025 h) 0
          ) -0.5px
          0px / 1.5rlh 1.5rlh round repeat local content-box,
        oklch(from var(--ui-primary) 0.99 0.01 h);

      &[data-scroll-direction="block"] {
        overflow-block: auto;
      }
      &[data-scroll-direction="inline"] {
        overflow-inline: auto;
        padding: 1px;
      }

      /* &[data-scroll-before="true"]::before,
      &[data-scroll-after="true"]::after {
        display: grid;
        place-content: center;
        block-size: calc(100% + 1lh);
        content: "Scroll ↓";
        translate: 0 -1lh;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--ui-primary-border);
      }
      &[data-scroll-after="true"]::after {
        content: "Scroll ↑";
        translate: 0 1lh;
      } */

      .sticky-element {
        display: grid;
        isolation: isolate;
      }
    }

    div:not([class])[style^="height"] {
      font-weight: 600;
      text-transform: uppercase;
      color: var(--ui-primary-border);
      margin-bottom: 1.5rlh;
      &::before {
        display: grid;
        place-items: center;
        height: 100%;
      }
      &:nth-last-child(1 of [style^="height"])::before {
        content: "Scroll ↑";
        translate: 0 1lh;
      }
      &:nth-child(1 of [style^="height"])::before {
        content: "Scroll ↓";
      }
    }

    div:not([class])[style^="width"] {
      font-weight: 600;
      text-transform: uppercase;
      color: var(--ui-primary-border);
      flex-shrink: 0;
      &::before {
        display: grid;
        place-items: center;
        height: 100%;
      }
      &:nth-last-child(1 of [style^="width"])::before {
        content: "Scroll ←";
      }
      &:nth-child(1 of [style^="width"])::before {
        content: "Scroll →";
      }
    }

    .container {
      --debug-visibility: 0;
      position: relative;
      isolation: isolate;
      color: var(--ui-primary-dark);
      &::before,
      &::after {
        opacity: var(--debug-visibility);
      }
      &::before {
        content: ".container";
        position: absolute;
        inset: -1.5rlh 0 auto 0;
        justify-self: center;
        font-size: 0.8em;
        background: oklch(from var(--ui-primary) 0.99 0.01 h);
        padding-inline: 0.5ch;
        pointer-events: none;
        line-height: 1.5rlh;
      }
      &::after {
        content: "";
        position: absolute;
        inset: -0.75rlh 0.25rlh 0;
        outline: 1px dashed var(--ui-primary-dark);
        z-index: -1;
      }
      .sticky-element {
        container-type: scroll-state;
        color: var(--ui-primary-border);
        &::before,
        &::after {
          opacity: var(--debug-visibility);
        }
        &::before {
          content: ".sticky-element";
          position: absolute;
          inset: 0 0 auto 0;
          justify-self: center;
          font-size: 0.8em;
          background: oklch(from var(--ui-primary) 0.99 0.01 h);
          padding-inline: 0.5ch;
          pointer-events: none;
          line-height: 1.5rlh;
          @container scroll-state(stuck: top) {
            font-variation-settings: "GRAD" 600;
          }
        }
        &::after {
          content: "";
          position: absolute;
          inset: 0.75rlh;
          outline: 1px dashed;
          z-index: -1;
          --stripes-color: oklch(from var(--ui-primary) 0.92 0.025 h);
          --stripes: repeating-linear-gradient(
              -45deg,
              var(--stripes-color) 0 12.5%,
              #0000 0 50%
            )
            0 0 / 6px 6px;
          background: var(--stripes);
          @container scroll-state(stuck: top) {
            outline-style: solid;
            background:
              url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%233a61c4' d='m22.313 10.175l-1.415 1.414l-.707-.707l-4.242 4.243l-.707 3.536l-1.415 1.414l-4.242-4.243l-4.95 4.95l-1.414-1.414l4.95-4.95l-4.243-4.243l1.414-1.414l3.536-.707l4.242-4.243l-.707-.707l1.414-1.414z'/%3E%3C/svg%3E")
                no-repeat top 2px right 2px / 1rlh 1rlh,
              var(--stripes);
          }
        }
      }
    }

    .controls:has(:checked) + & .container {
      --debug-visibility: 1;
    }

    .output:is(.editor:has(:focus-within) ~ &) {
      --marching-ants: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E@keyframes ant %7Bto %7Bstroke-dashoffset: -8;%7D%7D%3C/style%3E%3Crect width='100%25' height='100%25' style='stroke: %23a9bcce; stroke-width: 3.75px; fill: none;stroke-dasharray: 5 3; animation: ant 1s infinite linear'/%3E%3C/svg%3E")
        border-box;

      /* border-color: transparent; */
      /* transition: filter 0.15s; */
    }

    .sibling-container {
      display: grid;
      background: #fff;
      border-left: 1px dashed var(--ui-primary-border);
    }

    .box {
      background: var(--ui-primary);
      color: var(--ui-primary-border);
      padding: var(--space-4) var(--space-6);
      border-radius: var(--bdrs-md);
      font-weight: 600;
      font-size: 0.875rem;
      box-shadow:
        0 0 0 1px var(--ui-primary-dark),
        0 2px 2px rgba(0, 90, 250, 0.05),
        0 4px 4px rgba(0, 90, 250, 0.05),
        0 8px 8px rgba(0, 90, 250, 0.05),
        0 16px 16px rgba(0, 90, 250, 0.05);
    }
  }
</style>
